.navbar {
    @apply text-white p-4 flex justify-between items-center fixed w-full top-0 m-0;
    z-index: 5;
}


.navbar .logo {
    @apply flex items-center space-x-4;
    z-index: 5;
}

.hamburger {
    display: none;
    padding: 1rem;
}

.mobile-menu {
    display: none;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 1rem;
}

.nav-menu li a {
    @apply text-white text-base font-semibold
}

.nav-menu li a:hover {
    @apply text-blue-300
}

@media screen and (max-width: 940px) {
    .hamburger {
        display: block;
        z-index: 5;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu {
        @apply absolute flex-col text-center w-1/2 h-screen bg-slate-900 opacity-90 top-0 -right-full p-20;
        transition: 0.3s ease-in-out;
    }
    
    .active {
        right: 0;
    }

    .nav-menu li {
        margin: .5rem;
    }

    .nav-menu li a {
        font-size: 1.2rem;
    }

    .nav-menu li a:hover {
        @apply font-extrabold
    }

    .nav-menu button {
        margin: 1rem auto;
        padding: .7rem 1.5rem;
        font-size: 1.2rem;
        border-radius: 25px;
        border: none;
        background: rgba(255, 255, 255, .3);
        width: 100%;
        color: #f6f6f6;
    }


    .nav-menu .social-icons {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
    }

    .nav-menu .icon {
        color: #f8f8f8cc;
        font-size: 1.4rem;
    }

    .hide {
        display: none;
    }

   /* .navbar .slide-right {
        @apply ml-10;
        transition: .9s ease-in-out;
    } */
}
@media screen and (max-width: 495px) {
    .nav-menu {
        width: 75%;
    }

    .navbar .slide-right {
        margin-left: 30%;
    }
}